@charset "utf-8";
/* CSS Document */

p.font {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

h1{
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"
}
h3{
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"
}
h2{
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"
}
